html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main_container {
  margin: 5em 10em;
  padding: 0 4%;
}

/* home page */
.article_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  background-color: rgb(219, 214, 214);
  margin-bottom: 2em;
  padding: 0.5em;
}

.article_number {
  width: 10%;
}
.article_description_container {
  width: 90%;
}

.article_secondary_description_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.article_description_title {
  width: 33%;
}

.page_description {
  margin-top: 5em;
}

/* detail page */
.detail_article_title_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.article_text_container {
  margin-bottom: 3em;
}
.text-container {
  background-color: rgb(219, 214, 214);
  padding: 1em;
}
